{% extends "layout.html" %}
{% block body %}
  <div class="card col-lg-6">
    <div class="card-body">
      <h4>Login</h4>
      {% if error %}
        <div class="alert alert-danger">
          <strong>Error:</strong> {{ error }}
        </div>
      {% endif %}
      <form action="{{ url_for('login', origin=origin) }}" method="post">
        <div class="form-group">
          <!-- <label for="username">Username</label> -->
          <input type="text" class="form-control" id="username" name="username"
                 placeholder="Username"/>
        </div>
        <div class="form-group">
          <!-- <label for="password">Password</label> -->
          <input type="password" class="form-control" id="password"
                 name="password" placeholder="Password"/>
        </div>
        <button type="submit" class="btn btn-outline-primary">Login</button>
      </form>
    </div>
  </div>
{% endblock %}
